// Variables
$primary-font-family: 'Fira Sans', sans-serif;

// Colors
$color-primary: #3b7cff;
$color-primary-hover: #003569;

$color-danger: #ff3d3d;
$color-success: #9BE15D;
$color-info: #3b7cff;

$color-light: #f7f9fb;
$color-grey: #BEBEBE;
$color-mid: #6D7784;
$color-dark: #293340;

$border-color: #e0e0e0;

$transition-duration: .2s;
$transition-ease: ease;
$transition: all $transition-ease $transition-duration;

$box-shadow: 2px 2px 6px 0 #e9ebee;